#container {
  overflow-y: scroll;
  height: 100vh;
}
.hero {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(#be1e2d, #8f0203);
  color: #fff;
  text-align: center;
}
.hero .pipe {
  background: #D4AF8E;
  width: 4px;
  height: 50px;
  display: inline-block;
  border-radius: 2px;
}
.hero .down-arrow {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #D4AF8E;
}
.hero .down-arrow svg {
  width: 70%;
}
#hero-image {
  width: 50%;
  -webkit-filter: drop-shadow(5px 95px 65px #222);
  filter: drop-shadow(5px 95px 65px #222);
}
#work {
  margin-top: 30px;
}
